.test-list-question {
    margin-bottom: 20px;
    ul {
        padding: 0;
        margin: 0;
        li {
            cursor: pointer;
            list-style: none;
            display: inline-block;
            border: 1px solid #ddd;
            padding: 4px 8px;
            margin-right: 2px;
            &.active {
                background: #58960f;
                color: white;
                border-color: #58960f;
            }
        }
    }
}