#primary-menu {
	background: #ec5c51;
    height: 54px;
    border-radius: 50px;
	ul {
		li {
			list-style: none;
			float: left;
			height: 54px;
		    line-height: 54px;
		    margin-right: 30px;
		    font-size: 16px;
    		color: white;
    		a {
    			color: white;
    			text-decoration: none;
    			cursor: pointer;
    			&:hover {
    				text-decoration: underline;
    			}
    		}
		}
	}
}