#forum-page {
    margin-top: 20px;
    #list-question {
        
    }
    #forum-sidebar {
        padding-left: 10px;
        .forum-sidebar-content {
            background: white;
            padding: 6px;
        }
    }
}