#forgot-password-page {
    background: white;
    margin-top: 20px;
    padding: 60px 20px;
    text-align: center;
    input[type="email"] {
        background-color: #f0f6ce;
        border: 1px solid #c8c292;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        height: 35px;
        padding: 0 15px;
        width: 282px;
    }
    .btn-login {
        background-color: #dd5555;
        border: 1px solid #b53131;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
        height: 41px;
        width: 232px;
        display: block;
        margin: 0 auto;
    }
    .form-forgot-password {
        background: #fdfef3;
        width: 480px;
        border: 2px solid #eeaaaa;
        border-radius: 10px;
        padding: 20px 40px;
        text-align: center;
        margin: auto;
        .form-group {
            label {
                display: block;
                text-align: left;
                padding-left: 60px;
                cursor: pointer;
            }
        }
    }
    legend {
        font-size: 24px;
        text-transform: uppercase;
        border: none;
    }
}