.login-page {
    background: white;
    margin-top: 20px;
    padding: 60px 20px;
    input[type="text"], input[type="password"] {
        background-color: #f0f6ce;
        border: 1px solid #c8c292;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        height: 35px;
        padding: 0 15px;
        width: 282px;
    }
    .btn-login {
        background-color: #dd5555;
        border: 1px solid #b53131;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
        height: 41px;
        width: 232px;
        display: block;
        margin: 0 auto;
    }
    .form-login {
        background: #fdfef3;
        width: 480px;
        border: 2px solid #eeaaaa;
        border-radius: 10px;
        padding: 20px 40px;
        text-align: center;
        .form-group {
            label {
                display: block;
                text-align: left;
                padding-left: 60px;
                cursor: pointer;
            }
        }
        .remember-login {
            margin-bottom: 10px;
            label {
                font-weight: 400;
                font-size: 13px;
                position: relative;
                top: -2px;
                margin-left: 6px;
            }
        }
        .option-ctl {
            margin-top: 20px;
            color: #968c3e;
            font-size: 13px;
            font-weight: normal;
            a {
                color: #968c3e;
                font-size: 13px;
                font-weight: normal;
            }
        }
    }
    legend {
        font-size: 24px;
        text-transform: uppercase;
        border: none;
        padding-left: 160px;
    }
}