.count-down-container {
    margin-top: 20px;
    margin-bottom: 20px;
    .count-down {
        display: inline-block;
        text-align: center;
        line-height: 13px;
        margin: auto;
        p {
            font-size: 16px;
        }
        span {
            font-size: 20px;
            position: relative;
            top: 15px;
            left: 10px;
        }
        img {
            width: 40px;
            height: 40px;
            float: left;
        }
    }   
}